<form [formGroup]='form' (ngSubmit)="onSubmitClick()">
  <label>Email</label>
  <input type="email" formControlName="email">
  <label>Password</label>
  <input type="password" formControlName="password">
  <button type="submit">Submit</button>
</form>

<div>
<table mat-table [dataSource]="datasource" matSort matSortActive="name">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <ng-container matColumnDef="family_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Family name</th>
    <td mat-cell *matCellDef="let element">{{element.f_name}}</td>
  </ng-container>

  <ng-container matColumnDef="phone_number">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone number</th>
    <td mat-cell *matCellDef="let element">{{element.phone}}</td>
  </ng-container>
  
  <ng-container matColumnDef="email_address">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email address</th>
    <td mat-cell *matCellDef="let element">{{element.email}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>

</table>

<mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>